<!DOCTYPE html>
<html ng-app="myMusicApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./index.css" rel="stylesheet" />
</head>

<body>
    <div class="myMusicAppContainer" ng-controller="MainController">
        <div class="music-header">
            <div class="logo-container">
                <div class="logo-img">
                    <img src="./images/logo.png">
                </div>
                <div class="logo-text">我的音乐</div>
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" ng-model="listManager.searchText"
                        placeholder="请输入个歌曲名称\歌手名称">
                </div>
                <button type="button" class="btn btn-primary" ng-click="listManager.searchMusic()">搜索</button>
            </form>
        </div>
        <div class="music-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>歌曲</th>
                        <th>歌手</th>
                        <th>专辑</th>
                        <th>时长</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tr in listManager.dataSource">
                        <td>{{$index+1}}</td>
                        <td style="cursor: pointer;" ng-click="listManager.itemClick(tr,$index,$event);">
                            <span><img width="36" height="36" src="{{tr.pic}}"></span>
                            <span> {{tr.name}}</span>
                        </td>
                        <td>{{tr.singer}}</td>
                        <td>{{tr.album}}</td>
                        <td>{{tr.timeLong}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="music-footer">
            <div class="player-operation">
                <button type="button" class="btn btn-default" ng-click="playerManager.musicPrevious();">上一曲</button>
                <button type="button" class="btn btn-default" ng-click="playerManager.musicPlay();">播放</button>
                <button type="button" class="btn btn-default" ng-click="playerManager.musicPause();">暂停</button>
                <button type="button" class="btn btn-default" ng-click="playerManager.musicNext();">下一曲</button>
            </div>
            <div class="player-contianer">
                <div class="music-selected">
                    <div>{{playerManager.musicSelected.item.name}} - {{playerManager.musicSelected.item.singer}}</div>
                    <div>{{playerManager.musicSelected.playTimeLong}}/{{playerManager.musicSelected.item.timeLong}}
                    </div>
                </div>
                <div class="music-progress">进度
                </div>
            </div>
            <audio id="myMusicPlayer"></audio>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.8/angular.js"></script>
    <script>
        var app = angular.module('myMusicApp', []);
        // app.config(function($httpProvider) {
        //     $httpProvider.defaults.headers.post = {
        //         'Access-Control-Allow-Origin': '*'
        //     }
        // });
        var musicPlayerDom = document.getElementById("myMusicPlayer");
        var baseMusicUrl = "https://music.163.com/api/search/get";

        function getTimeLongByMillisecond(time) {
            const minT = Math.floor(time / 1000 / 60) >= 10 ? Math.floor(time / 1000 / 60) : '0' + Math.floor(time /
                1000 / 60);
            const minS = Math.floor(time / 1000 % 60) >= 10 ? Math.floor(time / 1000 % 60) : '0' + Math.floor(time /
                1000 % 60);
            return minT + ':' + minS;
        };

        function getTimeLongBySecond(s) {
            const minT = Math.floor(s / 60) >= 10 ? Math.floor(s / 60) : '0' + Math.floor(s / 60);
            const minS = Math.floor(s % 60) >= 10 ? Math.floor(s % 60) : '0' + Math.floor(s % 60);
            return minT + ':' + minS;
        };

        app.controller('MainController', function ($scope, $http) {
            //  列表数据管理
            $scope.listManager = {
                pageSize: 18,
                isLoadAll: false, // 判断是否加载了所有数据
                isLoadFinish: true, // 判断本次请求是否完毕
                dataSource: [],
                noDataConfig: {
                    isShow: false,
                    text: ""
                },
                searchText: "",
                searchMusic: function () {
                    var tempObj = {};
                    if (this.searchText) {
                        tempObj["name"] = this.searchText;
                    }
                    this.dataSource = [];
                    this.isLoadAll = false;
                    this.loadData(tempObj);
                },
                getMusicInfo: function (id, callback) {
                    var _this = this;
                    var urlObj = {
                        type: "song",
                        id: id
                    };
                    url = baseMusicUrl + "?" + $.param(urlObj);
                    $http({
                        method: 'GET',
                        url: url
                    }).then((response) => {
                        if (response.status === 200) {
                            if (response.data && response.data.code === 200) {
                                if (response.data.data && Array.isArray(response.data.data)) {
                                    var tempMusicInfo = response.data.data[0];
                                    if (callback) callback(tempMusicInfo);
                                }
                            }
                        }
                    }, (error) => {
                        alert(error);
                    });
                },
                itemClick: function (tr, $index, $event) {
                    var _this = this;
                    this.getMusicInfo(tr.id, function (musicInfo) {
                        $scope.playerManager.musicSelected.index = $index;
                        $scope.playerManager.musicSelected.item = _this.dataSource[$index];
                        $scope.playerManager.musicSelected.playUrl = musicInfo.url;
                        $scope.playerManager.musicSelected.playTimeLong = "00:00";
                        $scope.playerManager.musicSelected.playProgress = 0;
                        $scope.playerManager.musicPlay();
                    });
                },
                //  滚动条滑动到最下方时调用该方法（加载更多）
                slideToBottom: function () {
                    if (this.isLoadAll) return;
                    var searchObj = $scope.searchManager.createSearchModel();
                    searchObj["StartNumbers"] = this.dataSource.length;
                    this.loadData(searchObj);
                },
                loadData: function (searchOption) {
                    if (!this.isLoadFinish) return;
                    this.isLoadFinish = false;
                    var searchDefualtObj = {
                        type: 1,
                        s: "羽泉",
                        limit: this.pageSize,
                        offset: 0
                    };
                    if (searchOption) {
                        searchDefualtObj = Object.assign(searchDefualtObj, searchOption);
                    }
                    var url = baseMusicUrl + "?" + $.param(searchDefualtObj);
                    var _this = this;
                    $http({
                        method: 'post',
                        url: url
                    }).then((response) => {
                        debugger
                        if (response.status === 200) {
                            if (response.data && response.data.code === 200) {
                                if (response.data.result) {
                                    var allCount = response.data.result.songCount;
                                    var currentSongs = response.data.result.songs;
                                    var tempTrs = [];
                                    [].map.call(currentSongs, function (mapItem) {
                                        tempTrs.push({
                                            id: mapItem.privilege.id,
                                            name: mapItem.name,
                                            singer: mapItem.ar[0].name,
                                            album: mapItem.al.name,
                                            timeLong: getTimeLongByMillisecond(
                                                mapItem.dt),
                                            pic: mapItem.al.picUrl
                                        });
                                    });
                                    _this.dataSource = _this.dataSource.concat(tempTrs);
                                    _this.isLoadAll = currentSongs.length < _this.pageSize;
                                }
                            }
                        }
                        _this.isLoadFinish = true;
                    }, (error) => {
                        alert(error);
                    });
                }
            }
            $scope.listManager.loadData();

            $scope.playerManager = {
                musicSelected: {
                    index: 0,
                    playUrl: "",
                    playTimeLong: "00:00",
                    playProgress: 0,
                    item: null
                },
                musicPrevious: function () {
                    var _this = this;
                    if (this.musicSelected.index === 0) {
                        this.musicSelected.index = $scope.listManager.dataSource.length - 1;
                    } else {
                        this.musicSelected.index--;
                    }
                    $scope.listManager.getMusicInfo(this.musicSelected.item.id, function (musicInfo) {
                        _this.musicSelected.item = $scope.listManager.dataSource[_this
                            .musicSelected.index];
                        _this.musicSelected.playUrl = musicInfo.url;
                        _this.musicSelected.playTimeLong = "00:00";
                        _this.musicSelected.playProgress = 0;
                        _this.musicPlay();
                    });
                },
                musicPlay: function () {
                    if (this.musicSelected.playUrl && this.musicSelected.item) {
                        if (musicPlayerDom.paused) {
                            musicPlayerDom.src = this.musicSelected.playUrl;
                            musicPlayerDom.play();
                        }
                    }
                },
                musicPause: function () {
                    if (!musicPlayerDom.paused) {
                        musicPlayerDom.pause();
                    }
                },
                musicNext: function () {
                    var _this = this;
                    if (this.musicSelected.index === $scope.listManager.dataSource.length - 1) {
                        this.musicSelected.index = 0;
                    } else {
                        this.musicSelected.index++;
                    }
                    $scope.listManager.getMusicInfo(this.musicSelected.item.id, function (musicInfo) {
                        _this.musicSelected.item = $scope.listManager.dataSource[_this
                            .musicSelected.index];
                        _this.musicSelected.playUrl = musicInfo.url;
                        _this.musicSelected.playTimeLong = "00:00";
                        _this.musicSelected.playProgress = 0;
                        _this.musicPlay();
                    });
                },
            };

            if (musicPlayerDom) {
                // https://github.com/IFmiss/vue-website/blob/df859b25217b621ad8fe4e5dd087cb218a4e8f5b/src/components/music/music.js
                // https://github.com/IFmiss/vue-website/blob/243dee3ced5af0bbe943ced3cefb1a2938c3a631/src/components/music/music.vue
                musicPlayerDom.onloadedmetadata = function () {};
                musicPlayerDom.onprogress = function () {
                    // const durationT = Math.floor(ele.duration)
                    // try {
                    //     if (ele.buffered.length > 0) {
                    //         var bufferedT = 0
                    //         for (var i = 0; i < ele.buffered.length; i++) {
                    //             bufferedT += ele.buffered.end(i) - ele.buffered.start(i)
                    //             if (bufferedT > durationT) {
                    //                 bufferedT = durationT
                    //                 console.log('缓冲完成')
                    //             }
                    //         }
                    //         var bufferedP = Math.floor((bufferedT / durationT) * 100)
                    //         that.bufferingP = bufferedP
                    //     }
                    // } catch (e) {
                    //     return
                    // }
                };
                musicPlayerDom.ontimeupdate = function () {
                    //  当前播放时间——单位：秒
                    const currentT = Math.floor(musicPlayerDom.currentTime);
                    //  音频时长——单位：秒
                    const duration = Math.floor(musicPlayerDom.duration);
                    $scope.$apply(function () {
                        //  计算播放时间　　
                        $scope.playerManager.musicSelected.playTimeLong = getTimeLongBySecond(
                            currentT);
                        //  计算播放进度 百分比
                        $scope.playerManager.musicSelected.playProgress = currentT / duration * 100;
                    });
                };
                musicPlayerDom.onended = function () { //   播放结束事件
                    $scope.playerManager.musicNext();
                };
            }
        });
    </script>
</body>

</html>