/*! page2.css  应用1页面2样式 */
/**************** 应用1页面2样式    开始 ****************/
body {
  background: url(/webpack/webpackLearning/www/app1/images/app1pag2-bg.png) repeat-x;
}
/**************** 应用1页面2样式    结束 ****************/

/*! page2.vue  应用1页面2组件样式 */
/**************** 应用1页面2组件样式    开始 ****************/
.app1-page2-comp-container {
  border: 8px solid yellow;
  padding: 10px;
}
/**************** 应用1页面2组件样式    结束 ****************/

