<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Table</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./scss/flexlayout.processed.css" rel="stylesheet" />
    <link href="./scss/index.processed.css" rel="stylesheet" />
</head>

<body ng-app="myApp">
    <div class="flex-layout myAppContainer" ng-controller="MainController">
        <div class="flex-layout-height vertical-center horizontal-center table-config-container">
            <form class="form-inline">
                <div class="form-group">
                    <label>类型</label>
                    <select class="form-control" ng-model="columnsConfigManager.addColumnTypeModel.columnType" ng-options="x.text for x in columnsConfigManager.columnWidthTypeOption"></select>
                </div>
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" ng-model="columnsConfigManager.addColumnTypeModel.columnTypeValue" placeholder="请输入列类型值">
                </div>
                <div class="form-group">
                    <label>名称</label>
                    <input type="text" class="form-control" ng-model="columnsConfigManager.addColumnTypeModel.columnShowName" placeholder="请输入列名称">
                </div>
                <div class="form-group">
                    <label>索引</label>
                    <input type="text" class="form-control" ng-model="columnsConfigManager.addColumnTypeModel.columnShowIndex" placeholder="请输入列索引">
                </div>
                <button type="button" class="btn btn-default" ng-click="columnsConfigManager.addColumnConfig()">添加</button>
                <button ng-if="!previewManager.isShowPreview" type="button" class="btn btn-primary" ng-click="previewManager.openPreview()">预览</button>
                <button ng-if="previewManager.isShowPreview" type="button" class="btn btn-primary" ng-click="previewManager.cancelPreview()">取消预览</button>
            </form>
        </div>
        <div ddz-table ng-if="previewManager.isShowPreview" config="tableConfig" class="table-container"></div>
        <div ng-if="!previewManager.isShowPreview" class="table-preview-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>列类型</th>
                        <th>列类型值</th>
                        <th>列名称</th>
                        <th>列索引</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tr in columnsConfigManager.columnsConfig">
                        <td>{{$index+1}}</td>
                        <td>{{tr.columnType.text}}</td>
                        <td>{{tr.columnTypeValue}}</td>
                        <td>{{tr.columnShowName}}</td>
                        <td>{{tr.columnShowIndex}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="columnsConfigManager.deleteColumnConfig(tr,$index)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/ng-template" id="DDZTableListXuhaolie.html">
        {{trIndex}}
    </script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.8/angular.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>