.flex-layout {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    .text-ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .vertical-center {
        display: flex;
        align-items: center;
    }
    .horizontal-center {
        display: flex;
        justify-content: center;
    }
    .flex-layout-height {
        box-sizing: border-box;
        display: flex;
        .flex-layout-block {
            flex: 1;
            overflow: hidden;
        }
    }
    .flex-layout-content {
        display: flex;
        overflow: hidden;
        flex: 1;
    }
}