.flex-layout {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
  
  .flex-layout .text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .flex-layout .vertical-center {
    display: flex;
    align-items: center;
  }
  
  .flex-layout .horizontal-center {
    display: flex;
    justify-content: center;
  }
  
  .flex-layout .flex-layout-height {
    box-sizing: border-box;
    display: flex;
  }
  
  .flex-layout .flex-layout-height .flex-layout-block {
    flex: 1;
    overflow: hidden;
  }
  
  .flex-layout .flex-layout-content {
    display: flex;
    overflow: hidden;
    flex: 1;
  }