/*! page1.css  应用1页面1样式 */
/**************** 应用1页面1样式    开始 ****************/
body {
  background: url(/demo/webpack/learning/www/app1/images/app1pag1-bg.png) repeat-x;
}
/**************** 应用1页面1样式    结束 ****************/

/*! page1.vue  应用1页面1组件样式 */
/**************** 应用1页面1组件样式    开始 ****************/
.app1-page1-comp-container {
  border: 8px solid rebeccapurple;
  padding: 10px;
}
/**************** 应用1页面1组件样式    结束 ****************/

