*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f4f4f4;
}

body {
    font-size: 16px;
    color: #2c3e50;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    color: #737373;
}

blockquote > div.comefrom {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.45;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.7;
    word-break: break-all;
}

details > summary {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.7;
    margin-bottom: 20px;
}

table tr {
    border-bottom: 1px solid #dcdfe6;
}

table th,
table td {
    padding: 0.5rem;
    max-width: 250px;
    text-align: left;
}

ul li {
    line-height: 1.6;
}

.blog-page {
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 120px 150px 120px 150px;
    background-color: #fff;
    opacity: 1;

    .github-icon-wrapper {
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1;
    }
}

.blog-page h2 {
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #eaecef;
}

pre[ddz-class="here-need-to-handle-by-highlight"] {
    display: none;
}

@media screen and (min-width: 768px) {
    .blog-page {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .blog-page {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .blog-page {
        max-width: 1140px;
    }
}

@media screen and (max-width: 768px) {
    .blog-page {
        padding: 50px 25px 50px 25px;
    }
}
