 html,
 body {
     height: 100%;
     width: 100%;
     margin: 0;
     overflow: hidden;
 }
 
 .myMusicAppContainer {
     height: 100%;
     width: 100%;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     >.music-header {
         height: 60px;
         flex-shrink: 0;
         padding-left: 20px;
         background-color: rebeccapurple;
         display: flex;
         align-items: center;
         >.logo-container {
             margin-right: 200px;
             display: flex;
             align-items: center;
             >.logo-img {
                 padding-right: 8px;
             }
             >.logo-text {
                 color: #fff;
             }
         }
     }
     >.music-body {
         flex: 1;
         overflow-y: auto;
     }
     >.music-footer {
         height: 100px;
         flex-shrink: 0;
         display: flex;
         align-items: center;
         >.player-operation {
             color: rebeccapurple;
         }
         >.player-contianer {
             flex: 1;
             padding-left: 30px;
             padding-right: 30px;
             >.music-selected {
                 display: flex;
                 justify-content: space-between;
             }
             >.music-progress {
                 color: rebeccapurple;
             }
         }
     }
 }