.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #ddd;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
}
.icon::after,
.icon::before {
  content: "";
  pointer-events: none;
}
.icon-plus {
  width: 30px;
  height: 30px;
}
.icon-plus::before {
  width: 20px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 32px;
}
.icon-plus::after {
  height: 20px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 32px;
}
.icon-heart {
  width: 20px;
  height: 20px;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  border-radius: 7px 0;
  margin: 9px 7px 5px;
  border-bottom: 2px solid;
  border-right: 2px solid;
}
.icon-heart::before {
  width: 12px;
  height: 20px;
  position: absolute;
  left: -10px;
  bottom: -2px;
  border-radius: 20px 0 0 20px;
  border: 2px solid;
  border-right: none;
}
.icon-heart::after {
  width: 20px;
  height: 12px;
  right: -2px;
  top: -10px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  border: 2px solid;
  border-bottom: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fab-menu-container {
  width: 56px;
  height: 56px;
  position: fixed;
}
.fab-menu-container > .fab-trigger {
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fab-menu-container > .fab-action-container {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  left: 28px;
}
.fab-menu-container > .fab-action-container > .action {
  height: 0;
  width: 0;
  position: absolute;
  transform: scale(0, 0);
  transition: 0.3s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 1) {
  left: 50px;
  top: -86.60254038px;
  transition: 0.3s 0.3s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 2) {
  left: 86.60254038px;
  top: -50px;
  transition: 0.3s 0.6s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 3) {
  left: 100px;
  top: 0px;
  transition: 0.3s 0.9s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 4) {
  left: 86.60254038px;
  top: 50px;
  transition: 0.3s 1.2s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 5) {
  left: 50px;
  top: 86.60254038px;
  transition: 0.3s 1.5s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 6) {
  left: 0px;
  top: 100px;
  transition: 0.3s 1.8s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 7) {
  left: -50px;
  top: 86.60254038px;
  transition: 0.3s 2.1s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 8) {
  left: -86.60254038px;
  top: 50px;
  transition: 0.3s 2.4s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 9) {
  left: -100px;
  top: 0px;
  transition: 0.3s 2.7s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 10) {
  left: -86.60254038px;
  top: -50px;
  transition: 0.3s 3s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 11) {
  left: -50px;
  top: -86.60254038px;
  transition: 0.3s 3.3s;
}
.fab-menu-container > .fab-action-container > .action:nth-child( 12) {
  left: 0px;
  top: -100px;
  transition: 0.3s 3.6s;
}
.fab-menu-container > .fab-action-container > .action > .action-content {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fab-menu-container.open > .fab-action-container > .action {
  transform: scale(1, 1);
}
